<%= form_tag("/", method: :get, role: "form-horizontal", class: "form-horizontal") do %>
  <div class="form-group form-group-sm">
    <%= label_tag(:cohort_count, "Number of cohorts:", class: "col-sm-3 control-label") %>
    <div class="col-sm-2">
      <%= number_field_tag :cohort_count, nil, in: 1...100, value: @cohort_count, inputmode: "numeric", pattern: "[0-9]*", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-default btn-sm">Submit</button>
  </div>
<% end %>

<% if @results.cohorts.size > 0 %>
  <table class="table table-bordered table-striped table-cohort">
    <thead>
      <tr>
        <th>Cohort</th>
        <th>Users</th>
        <% @results.cohorts.last.interval_buckets.each do |bucket| %>
          <th><%= bucket.title %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @results.cohorts.each do |cohort| %>
        <tr>
          <td><%= cohort.title %></td>
          <td><%= cohort.total %></td>
          <% cohort.interval_buckets.each do |bucket| %>
            <%= formatted_interval_bucket(bucket, cohort.total) %>
          <% end %>
          <% (@results.max_interval_buckets - cohort.interval_buckets.size).times do %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No cohorts to display :(
<% end %>