<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cohort</th>
      <th>Users</th>
      <% @results.cohorts.last.order_intervals.each do |interval| %>
        <th><%= interval.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @results.cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.title %></td>
        <td><%= cohort.total %></td>
        <% cohort.order_intervals.each do |interval| %>
          <td>
            <%= "#{number_to_percentage(interval.total.to_f / cohort.total.to_f * 100, precision: 1)} orderers (#{interval.total})" %>
            <br />
            <%= "#{number_to_percentage(interval.first_time_orders.to_f / cohort.total.to_f * 100, precision: 1)} 1st time (#{interval.first_time_orders})" %>
          </td>
        <% end %>
        <% (@results.max_order_intervals - cohort.order_intervals.size).times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>